# Maven
target/
!target/*.jar

# IDE files
.idea/
.vscode/
*.iml

# Git
.git/
.gitignore

# Docker
docker/
Dockerfile
.dockerignore

# Logs
*.log

# Tests
src/test/

# Documentation
*.md
LICENSE